<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Cấu hình kết nối DB -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mec888</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <!-- Other settings -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Cấu hình JPA -->
        <property name="hibernate.transaction.jta.platform">org.hibernate.engine.transaction.jta.platform.internal.JBossStandAloneJtaPlatform</property>

        <!-- Mapping -->
        <mapping class="com.home.mec888.entity.User"/>
        <mapping class="com.home.mec888.entity.Role"/>
        <mapping class="com.home.mec888.entity.Medicine"/>
        <mapping class="com.home.mec888.entity.AuditLog"/>
        <mapping class="com.home.mec888.entity.Department"/>
        <mapping class="com.home.mec888.entity.Doctor"/>
        <mapping class="com.home.mec888.entity.Patient"/>
    </session-factory>
</hibernate-configuration>
