.grid-cell{
       -fx-border-color: #999;
       -fx-border-width: 1;
       -fx-border-style: solid;
       -fx-alignment: center; /* Căn giữa text */
       -fx-pref-width: 120;
       -fx-pref-height: 120;
       -fx-font-size: 16px;
       -fx-background-color: white;
       -fx-cursor: hand;
}
.shift-cell{
    -fx-min-width: 40;
    -fx-min-height: 40;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}
.available-shift{
    -fx-background-color: #ffffff;
}
.taken-by-other-shift{
    -fx-background-color: #ffcccc;
}
.your-shift{
    -fx-background-color: #b3ffd9;
}