.nav-btn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #1071e1;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 16px;
}

.nav-btn:hover {
    -fx-background-color: radial-gradient(
            focus-angle 0deg,
            focus-distance 0%,
            center 0% 0%,
            radius 100%,
            #00adef,
            #3871c1
    );
    -fx-text-fill: white;
}

.active-button {
    -fx-pre-width: 100%;
    -fx-pref-height: 100%;
    -fx-font-weight: bold;
    -fx-background-color: radial-gradient(
            focus-angle 0deg,
            focus-distance 0%,
            center 0% 0%,
            radius 100%,
            #00adef,
            #3871c1
    );
    -fx-text-fill: white;
    -fx-alignment: center_left;
    -fx-font-size: 16px;
    -fx-padding: 16px;
}

.table-cell {
    -fx-alignment: center;
    -fx-font-size: 13px;
}

.headerAdmin{
    -fx-background-color: radial-gradient(
            focus-angle 0deg,
            focus-distance 0%,
            center 0% 0%,
            radius 100%,
            #00adef,
            #3871c1
    );
    -fx-text-fill: white;
}

.titlePage {
    -fx-font-size: 28px;
    -fx-font-weigth: 900;
}

.input-field {
    -fx-pre-width: 100%;
    -fx-border-color: #111827;
    -fx-background-color: #fff;
    -fx-border-radius: 0px 0px 0px 0px;
}

.input-field:focused {
    -fx-border-width: 2px;
}

.search {
    -fx-border-color: #1e242e;
    -fx-background-color: #fff;
    -fx-font-size: 14px;
}

.search:focused {
    -fx-border-width: 2px;
}

.add-new-btn {
    -fx-background-color: #EAB308;
    -fx-background-radius: 6px;
    -fx-cursor: hand;
}

.add-new-btn:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-transition: all 0.1s ease-in-out;
}

.back-btn {
    -fx-font-size: 14px;
    -fx-background-color: #1e242e;
    -fx-background-radius: 6px;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.back-btn:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-text-fill: white;
    -fx-transition: all 0.1s ease-in-out;
}

.btn-logout {
    -fx-font-size: 16px;
    -fx-background-color: #fff;
    -fx-cursor: hand;
    -fx-padding: 16px;
    -fx-text-fill: #ef4444;
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
}

.btn-logout:hover {
    -fx-background-color: #EF4444;
    -fx-text-fill: white;
}

.save-btn {
    -fx-font-size: 14px;
    -fx-background-color: #EAB308;
    -fx-background-radius: 6px;
    -fx-cursor: hand;
}

.logo-image {
    -fx-alignment: center;
    -fx-background-color: #fff;
}

.label-welcome {
    -fx-font-size: 30px;
    -fx-padding: 16px;
}

.label-username {
    -fx-font-size: 20px;
    -fx-padding: 0 10px 0 0;
}

.slogan {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.avatar {
    -fx-padding: 16px;
}

.save-btn:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-transition: all 0.1s ease-in-out;
}

.clear-btn {
    -fx-font-size: 14px;
    -fx-background-color: #FF6464;
    -fx-background-radius: 6px;
    -fx-cursor: hand;
}

.clear-btn:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-transition: all 0.1s ease-in-out;
}

#mainBorderPane {
    -fx-background-color: #fff; /* Đặt nền trắng cho mainBorderPane */
}

#loginForm, #inputEmailForm, #resetPasswordForm {
    -fx-background-color: #ECECE7;
    -fx-border-color: #000;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

.headerPatient {
    -fx-background-color: #fff;
    -fx-text-fill: radial-gradient(
            focus-angle 0deg,
            focus-distance 0%,
            center 0% 0%,
            radius 100%,
            #00adef,
            #3871c1
    );
}

.navigationBar {
    -fx-background-color: #fff;
    -fx-margin-top: 48px;
}
